h2 {
    text-align: center;
   }
   textarea {
    margin: 0, auto;
     width: 100%;
     height: 150px;
     padding: 12px 20px;
     box-sizing: border-box;
     border-radius: 10px;
     background-color: #f8f8f8;
     font-size: 20px;
     resize: none;
     margin: 10px;
   }
   #solution{
    height: 300px;
   }
  
   form {
    text-align: center;
     /* Just to center the form on the page */
     margin: 0 auto;
     width: 90%;
     /* To see the outline of the form */
     padding: 1em;
    }
  
  textarea:focus {
    /* To give a little highlight on active elements */
    background-color: cornsilk;
  }
  
  textarea:hover {
    background-color: cornsilk;
  }
  
  label {
    font-size: 20px;
    color:black;
  }